body {
    background: rgb(156, 55, 18);
}


.wrapper {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.dots {
    display: inline-block;
    width:50px;
    height:5px;
    background-color: #000;
}

.dots:nth-last-child(1) {
    animation:animate .9s .2s linear infinite;
    background:#000;
}


.dots:nth-last-child(2) {
    animation:animate .9s .3s linear infinite;
    background:rgb(255, 238, 0);
}

.dots:nth-last-child(3) {
    animation:animate .9s .4s linear infinite;
    background:orange;
}

.dots:nth-last-child(4) {
    animation:animate .9s .5s linear infinite;
    background:purple;
}

.dots:nth-last-child(5) {
    animation:animate .9s .6s linear infinite;
    background:#fff;
}

@keyframes animate {
 0% {
     transform:translate(0,0);
 }
 50% {
     transform:translate(0,40px);
 }
 100% {
     transform:translate(0,0);
 }
}